include perception/testing/images/*
include perception/testing/videos/*
include perception/testing/logos/*
include perception/**/*.pyx
include perception/*.pyx
include perception/py.typed
exclude tests/*
