[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
ipython = "*"
jupyterlab = "==1.1.*"
numpy = "*"
pandas = "*"
mypy = "*"
pylint = "*"
faiss-cpu = "*"
pytest = "*"
pytest-cov = "*"
black = "==22.3.0"
Pillow = "*"
twine = "*"
pdqhash = "*"
torch = "<1.13"
types-pkg-resources = "*"
videoalignment = {git = "https://github.com/facebookresearch/videoalignment.git", ref = "1603926" }
pre-commit = "==2.18"

[packages]
perception = {editable = true,path = ".",extras = ["benchmarking","matching"]}

[requires]
python_version = "3.9"
