[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
ipython = "==7.8.*"
jupyterlab = "==1.1.*"
numpy = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
yapf = "==0.25.0"
Pillow = "*"
twine = "*"
torch = "*"
videoalignment = {git = "https://github.com/facebookresearch/videoalignment.git", ref = "1603926" }

[packages]
perception = {editable = true,path = ".",extras = ["benchmarking"]}

[requires]
python_version = "3.7"
