sphinx-autodoc-typehints==1.6.0
sphinx-autobuild==0.7.1
sphinx==1.8.3
sphinx_rtd_theme==0.4.3
m2r==0.2.1
opencv-contrib-python-headless
tqdm
imgaug
ffmpeg-python
typing-extensions
faiss-cpu
aiohttp
python-json-logger
networkit
