name: ci
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - v*
jobs:
  test:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry
          cache-dependency-path: poetry.lock
      - name: Setup Poetry
        uses: abatilo/actions-poetry@v4
      - name: Setup FFMPEG
        uses: FedericoCarboni/setup-ffmpeg@v3
        if: ${{ ! startsWith(matrix.os, 'macos') }}
      - name: Setup Dependencies with Homebrew
        if: startsWith(matrix.os, 'macos')
        run: |
          brew install llvm ffmpeg
          echo "CC=$(brew --prefix)/opt/llvm/bin/clang" >> $GITHUB_ENV
          echo "CXX=$(brew --prefix)/opt/llvm/bin/clang++" >> $GITHUB_ENV
      - name: Setup Project
        run: make init-project
      - name: Run precommit
        run: make precommit
