name: release
on:
    push:
      tags:
        - v*

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Run precommit
          run: make precommit_docker
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
              os: [ubuntu-latest, windows-latest, macos-latest]
        name: Build for ${{ matrix.os }}
        needs: test
        steps:
            - uses: actions/checkout@v2
            - run: git fetch --prune --unshallow
            - name: Setup conda
              uses: s-weigand/setup-conda@v1
              if: ${{ matrix.os != 'ubuntu-latest' }}
            - run: build-scripts/macos.sh
              if: ${{ matrix.os == 'macos-latest' }}
            - run: build-scripts/windows.bat
              if: ${{ matrix.os == 'windows-latest' }}
            - run: docker run --rm -v $PWD:/io --workdir /io quay.io/pypa/manylinux2010_x86_64 /io/build-scripts/linux.sh
              if: ${{ matrix.os == 'ubuntu-latest' }}
            - uses: actions/upload-artifact@v2
              if: ${{ matrix.os != 'ubuntu-latest' }}
              with:
                name: wheels
                path: dist/*
            - uses: actions/upload-artifact@v2
              if: ${{ matrix.os == 'ubuntu-latest' }}
              with:
                name: wheels
                path: dist/*manylinux1_x86_64.whl
    publish:
        needs: build
        runs-on: ubuntu-latest
        if: ${{ github.repository_owner == 'wearethorn' }}
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-python@v2
          with:
            python-version: '3.7'
        - name: Download wheels
          uses: actions/download-artifact@v2
          with:
            name: wheels
            path: dist
        - name: Publish package
          run: make publish
